TELEGRAM_BOT_TOKEN=coloca_aqui_el_token_que_te_da_botfather
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_SUSCRIPCION_MONTO=1000
MERCADOPAGO_SUSCRIPCION_FRECUENCIA=1
MERCADOPAGO_SUSCRIPCION_FRECUENCIA_TIPO=days
